body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  background-image: url(../img/planetbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.jumbotron {
  background: rgba(39, 73, 127, 0.7);
  padding: 0;
  margin: 0;
}

.centered {
  text-align: center;
}

.button {
  margin-left: 20px;
  margin-right: 20px;
}

.well {
  background: rgba(39, 73, 127, 0.7);
  border-color: black;
}

.inner {
  background-color: rgba(50, 93, 157, 0.7);
}

#pplogo {
  vertical-align: center;
  height: 200px;
  width: 200px;
}

#pageHeader {
  font-weight: bolder;
  font-size: 20pt;
}

#shoppingAddress {
  display: none;
}

#deliverySelection {
  display: none;
}

#carryoutSelection {
  display: none;
}

#pizzaSelection {
  display: none;
}

#shoppingCart {
  display: none;
}

#thankYou {
  display: none;
}

label {
  margin-top: 5px;
}
