body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  background-image: url(../img/planetbg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

label {
  margin-top: 5px;
}

.form-width {
  margin: 0 auto;
  width: 85%;
}

.jumbotron {
  background: rgba(39, 73, 127, 0.7);
  padding: 0;
  margin: 0;
}

.centered {
  text-align: center;
}

.button {
  margin-left: 20px;
  margin-right: 20px;
}

.topmargin {
  margin-top: 20px;
}

.well {
  background: rgba(39, 73, 127, 0.7);
  border-color: black;
}

.inner {
  background-color: rgba(50, 93, 157, 0.7);
}

.float_inline {
  display: inline-block;
  text-align: left;
}

.min_width {
  min-width: 700px;
}

.center-textalign {
  text-align: center;
}

.inline-left {
   float: left;
   text-align: left;
   overflow: hidden;
}

.inline-right {
  float: right;
  text-align: right;
  overflow: hidden;
}

.title {
  display: inline-block;
}

#pplogo {
  vertical-align: center;
  height: 200px;
  width: 200px;
}

#planetDelivery {
  vertical-align: center;
  height: 150px;
  width: 150px;
}

#pageHeader {
  font-weight: bolder;
  font-size: 20pt;
}

#singleAlien {
  /*float: left;*/
  position: absolute;
  left: 50px;
}

#deliverySelection, #carryoutSelection, #pizzaSelection, #shoppingAddress, #shoppingCart, #thankYou {
  display: none;
}
